---
permalink: /
title: Home
---

<div class="home-container">
<section class="hero-wrap">
  <div class="hero-portrait-wrap">
    <img src="assets/images/Untitled.png" alt="Hero Image"class="hero-portrait column slide-fade-h1"></img>
  </div>
  <div class="hero-information column">
    <h1 class="hero-information-h1 slide-fade-h1">Hiya!</h1>
    <h2 class="hero-information-h2 slide-fade-h1">I'm Anson Hammell</h2>
    <h3 class="hero-information-h3 slide-fade-h1">Developer with a focus on creative solutions, looking to learn, create and succeed. Let's build together towards a better future!</h3>
  <ul class="hero-socials-list">
    {% for social in site.data.social-media %}
    <li class="hero-socials-item slide-fade-h1">
      <a href="{{ social.href }}{{ social.id }}"
        ><i class="fa {{ social.fa-icon }} hero-socials-icon"></i
      ></a>
    </li>
    {%endfor%}
  </ul>
    <div class="about-me-button-wrap ">
      <div class="about-me-button slide-fade-h1">
        <a href="/about" class="about-me-link slide-fade-h1"> About me </a>
      </div>
    </div>
  </div>
</section> 
<div class="home-information-wrap">
  <div class="home-information column">
    <div class="home-excerpt">
      Developer looking to build impactful user-friendly applications and websites. Passionate about finding new technologies to solve problems and create new solutions.
    </div>
  </div>
  <div class="home-skills column">
    <h1 class="home-skills-header">
        Technical Skills
    </h1>
    <ul class="home-skills-list">
      {% for skill in site.data.skills %}
        <li class="home-skills-item">
            <p> {{ skill.summary }}</p>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
<!-- 
<div class="home-card-container">
  <div class="home-card column-third">
      <img src="/assets/images/Untitled.png" alt="" class="home-card-img">
    <p>Architect & Engineer</p> 
  </div>
     
  <div class="home-card column-third">
      <img src="/assets/images/Untitled.png" alt="" class="home-card-img">
    <p>Architect & Engineer</p> 
  </div>
     
  <div class="home-card column-third">
      <img src="/assets/images/Untitled.png" alt="" class="home-card-img">
    <p>Architect & Engineer</p> 
  </div>
</div>

    <div class="home-information-wrap-2">
        Work in Progress! More to come. 
    </div>
-->
</div>
