.column {
  float: left;
  width: 50%;
}

.column-third {
  float: left;
  width: 33.33%;
}

.home-information {
  width: 44%;
  padding-right: 5%;
  border-right: darkgray solid;
  border-width: 1%;
}

.home-skills {
  padding-left: 5%;
  float: left;
  width: 45%;
}

.home-skills:after {
  content: "";
  display: table;
  clear: both;
}

.home-skills-list {
  list-style: none;
  font-size: 1.75rem;
  margin-left: 1rem;
}

.home-skills-item {
  margin: 0;
}

.home-skills-header {
  font-size: 2rem;
  font-weight: 50;
  margin: 0 0 0.5rem;
}

.home-information-wrap {
  font-size: 2rem;
}

.home-information-wrap-2 {
  font-size: 2rem;
  background-color: rgb(8, 0, 40);
  color: $white;
  text-align: center;
}

.home-information-wrap::after {
  content: "";
  display: table;
  clear: both;
}

.home-information-wrap,
.hero-wrap,
.home-information-wrap-2,
.home-card-container {
  padding: 5rem 14vw 5rem;
}

.hero-wrap {
  overflow: hidden;
  background: #020024;
  background: linear-gradient(
    0deg,
    rgb(13, 0, 71) 0%,
    rgb(105, 14, 105) 50%,
    rgb(190, 41, 103) 100%
  );
  padding-bottom: 12rem;
}

.hero-wrap::after {
  content: "";
  display: table;
  clear: both;
}

.hero-portrait {
  width: 600px;
  height: 600px;

  border-radius: 100%;
  position: relative;
}

.hero-information {
  padding-left: 4rem;
  margin: auto;
  color: $white;
}

.hero-information-h1 {
  font-size: 8rem;
}

.hero-information-h2 {
  font-size: 4.5rem;
}

.hero-information-h3 {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 100;
}

.hero-socials-list {
  margin: 12px auto 12px;
  list-style: none;
}

.hero-socials-item {
  display: inline;
}

.hero-socials-icon {
  color: $white;
  font-size: 3.5rem;
}

.hero-socials-icon:hover {
  color: darkgrey;
}

.about-me-button-wrap {
  position: relative;
  padding-bottom: 1rem;
  display: inline;
  top: 7rem;
}

.about-me-link {
  padding: 1rem;
  border: $white solid;
  max-width: fit-content;
  background-color: transparent;
  text-decoration: none;

  color: $white;
  font-size: 1.5rem;
}

.about-me-link:hover {
  background-color: rgba(255, 255, 255, 0.075) !important;
}
