// Reset Everything

html,
body,
div,
span,
object,
iframe,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  background-color: $white;
  color: #333;
  padding-top: $navigation_size;
  padding-bottom: $footer_size;

  position: relative;
  min-height: 100%;
}

body {
  font-family: $default-font;
}

a {
  &:visited {
    color: inherit;
  }
  color: $black;
}

h1 {
  font-family: $header-font;
}

.default {
  margin: 0;
}

// Animations
.underline-slide-in {
  text-decoration: underline;

  animation-name: underline-slide;
  animation-duration: 450ms;
}

@keyframes underline-slide {
  0% {
    text-decoration-color: rgba(0, 0, 0, 0);
    text-underline-offset: 0.25em;
  }
  100% {
    text-decoration-color: rgba(0, 0, 0, 1);
  }
}

.slide-fade-h1 {
  position: relative;
  animation-name: slide-fade;
  animation-duration: 0.5s;
}

@keyframes slide-fade {
  0% {
    opacity: 0;
    top: 50px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}

.slide-fade-h2 {
  position: relative;
  animation-name: slide-fade-2;
  animation-duration: 0.625s;
}

@keyframes slide-fade-2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
    top: 50px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
