.top-nav-container {
  background-color: $navbar_background;
}
.top-nav-bar {
  margin: auto;

  max-width: 728px;
  color: $navbar_font_color;
  background-color: $navbar_background;
  border-bottom: 2px solid $navbar_border;
  font-size: 0.9rem;
}

.top-nav-bar .top-nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.top-nav-bar .top-nav-list .top-nav-item {
  float: left;
}

.top-nav-bar .top-nav-list .top-nav-item .top-nav-link {
  display: block;
  text-align: center;
  padding: 1rem 1.5rem 1rem 1.5rem;
  margin: 1rem;
  text-decoration: none;
  border-radius: 0.5rem;
}

.top-nav-bar .top-nav-list .top-nav-item .top-nav-link:hover {
  animation-name: fadeInColor;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.075s;
  background-color: rgb(200, 200, 200);
}

@keyframes fadeInColor {
  0% {
    background-color: inherit;
    color: inherit;
  }
  100% {
    background-color: rgb(200, 200, 200);
    color: $black !important;
  }
}

.current {
  color: $black !important;
  background-color: #d8d8d8 !important;
}
