.top-nav-container {
  position: fixed;
  top: 0px;
  background-color: $navbar_background;
  z-index: 999;
  margin-left: auto;
  width: 100%;
  border-bottom: $navbar_border solid;
}
.top-nav-bar {
  padding: 1rem 12rem;
  width: 100%;
  color: $navbar_font_color;
  font-size: 1rem;
}

.top-nav-link {
  padding: 0.3rem 0.6rem;
  margin: 0.6rem;
}

.top-nav-bar .top-nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.top-nav-bar .top-nav-list .top-nav-item {
  float: left;
}

.top-nav-bar .top-nav-list .top-nav-item .top-nav-link {
  display: block;
  text-align: center;
  text-decoration: none;
  border-radius: 0.5rem;
}

.top-nav-bar .top-nav-list .top-nav-item .top-nav-link:hover {
  animation-name: fadeInColor;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.075s;
  background-color: rgb(200, 200, 200);
}

@keyframes fadeInColor {
  0% {
    background-color: inherit;
    color: inherit;
  }
  100% {
    background-color: rgb(200, 200, 200);
    color: $black !important;
  }
}

.current {
  color: $black !important;
  background-color: #d8d8d8 !important;
}
