// Variables for other CSS files

// Base Colors
$white: #fff;
$black: #333;

// Fonts
$default-font: Helvetica, Tahoma, sans-serif !default;
$header-font: Tahoma, sans-serif;
$body-font: Georgia, serif;

// Navigation
$navbar_background: #ebebeb;
$navbar_border: #e7e7e7;
$navbar_font_color: #636363;

// Resume
